h1 class="text-center" style="font-size:40pt" = @title + "に写真をおくりました。"

hr

div style="text-align:center"
  img src=@sled.file class="img-responsive"

hr

= link_to "思い出をみる", sleds_path, :class => 'btn btn-default pull-right', style:"font-size:26pt"

